/*
 * Estilos para customizar las clases predefinidas por bootstrap
 */

/* Sette styles bootstrap */
.btn.dark:focus, .btn.dark:hover, .btn:hover, .btn:focus{box-shadow: none;}
.btn, .btn-link, .form-control, .checkbox{ font-size: 10pt; }
.btn, .modal-content, .form-control {border-radius: 0 !important;}
.btn-dark{background-color: transparent; color: #4a4a4a; border: sold 2px #4a4a4a}

.navbar-brand img {
		height: 20px !important;
}
.navbar-expand-lg .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
}
.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: .5rem;
		padding-left: .5rem;
}
.nav-link {
		display: block;
		padding: 0 1rem;
}
.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;
	}
.dropdown-toggle::after {
		display: none;
}
.dropdown-menu {
	min-width: 0;
	padding: 0;
    border-radius: 0;
    margin: 6px 0 0;
    border: none;
}
.dropdown-menu.bg-dark .dropdown-item {
	color: #FFF;
	font-size: 20px;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active{
	color: #FFF;
	text-decoration: none;
	background-color: #2b3035;
}
.dropdown-toggle{padding: .375rem .75rem;}

.dropdown-menu.dropdown-left {
	right: -5px !important;
	left: auto !important;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.card-header .text-muted{font-size: 9pt; display: block;}
.modal-header h3{font-size: 11pt; font-weight: bold; color: #2b3035}
input[type="checkbox"], input[type="radio"] {
    margin-bottom: -10px !important;
}


.form-control{border: solid 0 0 1px 0 #e9e9e9;}
.form-control:focus{box-shadow:  0 0 10px rgba(0,0,0,0.3); }

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: .25rem;
}

/*
 * Bootstrap Album Style
 */
 :root {
	--jumbotron-padding-y: 3rem;
}

.jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #fff;
}
@media (min-width: 768px) {
	.jumbotron {
		padding-top: calc(var(--jumbotron-padding-y) * 2);
		padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}
